<section class="header-main border-bottom bg-white container">
	<div class="container-fluid">
                {{#each productos}}
       <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
 
            <div class="col-md-3 " >
                <div class="card tarjeta" style="width: 18rem;">
                    <img class="card-img-top"
                        src="{{imagen}}"
                        width="200"
                        height="200"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.titulo}}</h5>
                        <h4 class="card-title">{{this.precio}}</h4>
                        <p class="card-title">{{this.cantidad}}</p>
                     
                    </div>
         
                </div>
            </div>
     
       </div>
              {{/each}}
	</div>
                  <button href="#" class="btn btn-primary compra" onclick={editEvent({event})}>Finalizar compra</button> 
</section>

<script>
const editEvent=(productos)=>{

let data = {imagen: productos.event.path[2].children[0].src, cantidad:productos.event.path[1].children[2], precio:productos.event.path[1].children[1].textContent, titulo: productos.event.path[1].children[0].textContent};
const response = fetch("/checkout/carrito/finalizar", {
method: 'POST',
headers: {
  'Accept': 'application/json',
  'Content-Type': 'application/json'
},
body: JSON.stringify(data)
});
}

</script>
