 <div class="d-flex flex-column justify-content-center  flex-wrap align-items-center mt-3">

        <h1>¡Bienvenido {{datos.email}}!</h1>
                <button class="btn btn-danger mt-4" > <a href="http://localhost:8080/logout" class="text-white">Abandonar sesion</a></button>
 </div>