<<div class="container my-5">
  <div class="jumbotron">

    <h1>Login</h1>
    <br />
    <h1 class="text-danger">ERROR EN EL LOGIN</h1>
      <div class="form-group">
        <input class="btn danger my-3" type="submit" value="Ingresar" />
      </div>
    </form>

    <hr />

    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/register'">Ir
        a Registrarse</button>
    </div>

  </div>
</div>