<<div class="container my-5">
  <div class="jumbotron">

    <h1>REGISTER</h1>
    <br />
   <h1>Error al registrarse</h1>

      <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Register" />
      </div>
    </form>

    <hr />

    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir
        a Login</button>
    </div>

  </div>
</div>